.zooomin img {
  max-width: 100%;
  display: inline-block;
}

.zooomin {
  cursor: zoom-in;
  position: relative;
}

.zooomin .z-c {
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 100%;
  text-align: center;
}

.zooomin img {
  transition: all 0.4s ease-in-out;
  position: relative;
}

.zooomin .z-c.zooomin {
  position: absolute;
  transition: all 0.4s ease-in-out;
}

.zooomin .z-c.zooomin img {
  z-index: 10000;
}

.zooomin .z-c.zooomin-animating img {
  z-index: 10000;
}

.zooomin .z-c.zooomin-animating {
  position: absolute;
}

.zooomin .z-c.zooomin-animating:before {
  visibility: visible;
  opacity: 0;
  z-index: 1000;
}

.zooomin .z-c.zooomin:before {
  visibility: visible;
  opacity: 1;
  z-index: 10000;
  transition: visibility 0s linear, opacity 0.3s;
}

.zooomin .z-c:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear, opacity 0.3s;
}
