/* line 3, ../sass/zooomin.sass */
body.zooomin-noscroll {
  overflow: hidden;
}

/* line 6, ../sass/zooomin.sass */
.zooomin img {
  max-width: 100%;
  display: inline-block;
}

/* line 11, ../sass/zooomin.sass */
.zooomin {
  cursor: zoom-in;
  position: relative;
}

/* line 15, ../sass/zooomin.sass */
.zooomin .zooomin-image-container {
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  right: 100%;
  text-align: center;
}

/* line 25, ../sass/zooomin.sass */
.zooomin img {
  transition: all 0.4s ease-in-out;
  position: relative;
  z-index: 1;
}

/* line 30, ../sass/zooomin.sass */
.zooomin .zooomin-image-container.zooomin {
  position: absolute;
  transition: all 0.4s ease-in-out;
  cursor: zoom-out;
}

/* line 36, ../sass/zooomin.sass */
.zooomin .zooomin-image-container.zooomin img {
  z-index: 4000;
}

/* line 41, ../sass/zooomin.sass */
.zooomin .zooomin-image-container.zooomin-animating img {
  z-index: 4000;
}

/* line 45, ../sass/zooomin.sass */
.zooomin .zooomin-image-container.zooomin-animating {
  position: absolute;
}

/* line 49, ../sass/zooomin.sass */
.zooomin .zooomin-image-container.zooomin-animating:before {
  visibility: visible;
  opacity: 0;
  z-index: 4000;
}

/* line 56, ../sass/zooomin.sass */
.zooomin .zooomin-image-container.zooomin:before {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  transition: visibility 0s linear, opacity 0.3s;
}

/* line 62, ../sass/zooomin.sass */
.zooomin .zooomin-image-container:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1100;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear, opacity 0.3s;
}

/* line 77, ../sass/zooomin.sass */
.zooomin .zooomin-image-container {
  position: relative;
}
/* line 79, ../sass/zooomin.sass */
.zooomin .zooomin-image-container .zooomin-caption {
  position: absolute;
  z-index: 0;
  opacity: 0;
  transition: opacity 1s, bottom 1s;
  bottom: -10px;
  right: 0;
  left: 0;
  padding: 20px;
}
/* line 88, ../sass/zooomin.sass */
.zooomin .zooomin-image-container .zooomin-caption article {
  color: #000;
  transition: opacity 1s;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
/* line 94, ../sass/zooomin.sass */
.zooomin .zooomin-image-container .zooomin-caption.viewable {
  z-index: 5000;
  opacity: 1;
  bottom: 0;
  right: 0;
  left: 0;
}
